@page
@model ErrorModel
@{
    ViewData["Title"] = "About";
}

<h4>How to Play</h4>

<p>Players take turns placing tiles on the board. The objective is to create a continuous path of adjacent tiles, connecting one side of the board to the other in your designated color. One player must connect the top to the bottom, while the other connects the left to the right.</p>

<p>Each player has 16 tiles. Once all tiles are placed, players must first remove a tile from the board to reuse it on their turn.</p>

<p>If a placed tile traps an opponent's tile between two of your tiles (both of your color), the trapped tile is removed from the board. That space cannot be used by the opponent on their next turn.</p>

<h4>Getting Started</h4>

<p>Enter a unique game code to share with your opponent. Once your opponent enters the same code, you will be connected and the game will begin. The starting player is chosen at random.</p>

<p>To invite someone, you can specify the URL as follows:</p>

<p><code>https://pathinox.azurewebsites.net?join='gamecode'</code></p>

<hr />
Mark Harrison 

